#mask {
  background: rgba(192, 192, 192, 0.6);
  position: fixed;
  inset: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
}

#modal {
  background: #fff;
  width: 80%;
  height: 80%;
  position: fixed;
  inset: 10% 0 auto;
  margin: auto;
  z-index: 9999;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close::before,
#close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #333;
  transform-origin: center;
}

#close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
