#mask {
  background: rgba(192, 192, 192, 0.6);
  position: fixed;
  inset: 0;
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
}

#modal {
  background: #fff;
  width: 80%;
  height: 80%;
  position: absolute;
  inset: 10% 0 auto;
  margin: auto;
  z-index: 9999;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-wrap: break-word;
}

#close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
